flask==2.0.1
flask-cors==3.0.10
werkzeug==2.0.3
numpy==1.25.2
Pillow==9.5.0
rembg==2.0.50
requests==2.31.0
openai-whisper==20231117
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0+cpu
torchaudio==2.1.0+cpu
torchvision==0.16.0+cpu
ffmpeg-python==0.2.0
edge-tts==6.1.9
flask-limiter==3.3.1
gtts==2.3.1
